@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    @apply bg-gray-100;
    padding: 24px;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        p {
            @apply text-display-lg;
            font-weight: 700;
        }
    }
}
